body {
  text-align: center;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 40px;
}

body>#datos {
  position: relative;
  text-align: left;
  margin: auto;
}

#upDiv {
  margin-top: 100px;
  justify-content: center;
  width: auto;
  display: inline-flex;
  margin-bottom: 100px;

}

#datos>label,
#documento {
  margin-right: 100px;
  display: inline-flex;

}

#nombre {
  margin-right: 65px;
  display: inline-flex;
}

#correo {
  margin-right: 200px;
  display: inline-flex;
}


#direccion {
  margin-right: 80px;
  display: inline-flex;
}

#telefono {
  margin-right: 80px;
  display: inline-flex;
}

#datos>label {
  font-size: 30px;
  margin-bottom: 40px;
}

#documento,
#nombre,
#correo,
#direccion,
#telefono {
  width: 30%;
  height: 20px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background: white;
}

#img1 {
  margin-left: -100px;
  margin-right: 100px;
  width: 110px;
  border-radius: 50%;
}

#divMain {
  background: -webkit-linear-gradient(top, #2079b0,#dae3f3);

}

@media (max-width: 800px) {}