<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Responsive</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a routerLink="index" routerLinkActive="active" class="enlace">
            <img src="https://i.postimg.cc/15W77ssf/Imagen3.jpg" alt="" class="logo">
        </a>
        <ul>
            <li><a class="active" routerLink="index" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="recuperarContraseña" routerLinkActive="active">recuperar Contraseña</a></li>
            <li><a routerLink="" routerLinkActive="active">registrar</a></li>
            <li><a routerLink="perfil" routerLinkActive="active">perfil</a></li>
        </ul>
    </nav>
    <section></section>
</body>
</html>