<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Responsive</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a routerLink="index" routerLinkActive="active" class="enlace">
        </a>
        <ul>
            <li><a class="active" (click)="goToIndex()">Cerrar Session</a></li>
            <li><a class="active" href="#">Revisar nomina</a></li>
            <li><a class="active" href="#">Ver rutas</a></li>
            <li><a class="active" href="#">Justificaciones</a></li>
        </ul>
    </nav>
    <section></section>
</body>

</html>