body {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: center;
}
h1 {
  font-size: 25px;
}
#logo {
  position: relative;
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 50%;
}
#registrar {
  display: flex;
  position: relative;
  margin-left: 150px;
  margin-top: -65px;
  font-size: 60px;
}
#formulario {
  width: 500px;
  height: auto;
  background: #dae3f3;
  border-radius: 4%;
  margin: 100px;
  padding: auto;
  display: inline-block;
}
#formulario > label,#documento,#nombre,#correo,#direccion,#numero {
  margin-bottom: 30px;
  height: 20px;
  width: 300px;
}
#documento {
  margin-left: 15px;
  background: gainsboro;
  border-radius: 2%;
}
#nombre{
  margin-left: 40px;
  background: gainsboro;
  border-radius: 2%;
}
#correo{
  margin-left: 50px;
  background: gainsboro;
  border-radius: 2%;
}
#direccion{
  margin-left: 33px;
  background: gainsboro;
  border-radius: 2%;
}
#numero{
  margin-left: 42px;
  background: gainsboro;
  border-radius: 2%;
}