body {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: center;
  justify-content: center;
}

#formulario {
  width: 70%;
  height: auto;
  background: -webkit-linear-gradient(top, #dae3f3, #2079b0);
  margin-left: 200px;
}

#logo {
  border-radius: 50%;
  position: relative;
  margin-right: 600px;
  margin-bottom: -100px;
}

#documento,
#nombre,
#correo,
#direccion,
#numero {
  width: 30%;
  margin: 30px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background: #dae3f3;
}
label{
  font-size: 20px;
}

#documento {
  margin-left: 30px;
}

#nombre {
  margin-left: 60px;
}

#correo {
  margin-left: 73px;
}

#direccion {
  margin-left: 51px;
}

#numero {
  margin-left: 61px;
}

#boton {
  background: linear-gradient(90deg, hsla(289, 70%, 83%, 1) 0%, hsla(229, 89%, 62%, 1) 100%);
  border: 2px;
  border-color: #d5d5d5;
  color: #000000;
  text-align: center;
  height: 35px;
  width: 120px;
  border-radius: 28px;
  margin: 20px;
}

@media (max-width: 900px) {
  #formulario {
    width: 70%;
    height: auto;
    background: -webkit-linear-gradient(top, #dae3f3, #2079b0);
    margin-left: 100px;
  }
}