body {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
#main {
  display: inline-flex;
  position: absolute;
  width: 100%;
}
#h1 {
  position: relative;
  margin-left: 65px;
}

#logo {
  position: relative;
  margin-right: 700px;
  border-radius: 23px;
  width: 80px;
}
#capa1 {
  width: 70%;
  height: auto;
  background: white;
  text-align: center;
  position: relative;
  margin-top: 40px;
}
#capa2 {
  height: 580px;
  width: 360px;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  text-align: center;
}
#capa3 {
  position: relative;
  margin-top: 200px;
}
#documento,
#contrasena {
  width: 30%;
  margin: 30px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background: #dae3f3;
}
#boton {
  background: -webkit-linear-gradient(top, #dae3f3, #2079b0);
  border: 2px;
  border-color: #d5d5d5;
  color: #000000;
  text-align: center;
  height: 30px;
  width: 80px;
}
@media (max-width: 900px) {
  #capa1 {
    width: 60%;
    height: auto;
    background: white;
    text-align: center;
    position: static;
    margin-top: -90px;
  }
  #capa2 {
    height: 370px;
    width: 300px;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  }
  #capa3 {
    position: relative;
    margin-top: 100px;
  }
  #logo {
    position: relative;
    margin-left: 10px;
  }
  #h1 {
    position: relative;
    margin-left: 1px;
  }
  #documento,
  #contrasena {
    width: 30%;
    height: 5px;
    margin: 30px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: #dae3f3;
  }
}
