<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trabajo</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <div id="formulario">
      <h1>Inicio sesion</h1>
      <label for="documento">Documento</label>
      <input type="text" id="documento">
      <br>
      <label for="contrasena">Contraseña</label>
      <input type="text" id="contrasena">
      <a (click)="goToChangeRegister">Registrarse</a>
      <input type="button" (click)="guardarDatos()" value="dale click">
    </div>
</body>

</html>