body {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#formulario {
  background: red;
  border-radius: 1%;
  text-align: center;
  margin: auto;
  padding: auto;
  display:inline-block;
}